services:
  # Postgres database
  database:
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_PASSWORD=unsafe
      - POSTGRES_USER=user
      - POSTGRES_DB=feciit
    container_name: feciit-postgres-database
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

  # Postgres web editor
  pgweb:
    image: dpage/pgadmin4
    container_name: feciit-pgadmin
    restart: unless-stopped
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@local.dev
      - PGADMIN_DEFAULT_PASSWORD=unsafe
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - database

    # Local SMTP emulator
  smtp:
    image: axllent/mailpit
    container_name: feciit-smtp
    volumes:
      - ./mailpit/data:/data
    ports:
      - "1025:1025" # smtp
      - "8025:8025" # web ui
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

  # Azure Blob Storage
  storage:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: feciit-blob-storage
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"

volumes:
  pg-data:
  pgadmin-data:
